# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Vaden Masrani 
	email = vadmas@gmail.com
[init]
	defaultBranch = master
[push]
	default = simple
