# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Vaden Masrani
email = vadmas@cs.ubc.ca 
[core]
	excludesfile = /Users/vmasrani/.gitignore_global
