bitstring==4.3.0
bleak==0.22.3
coverage==7.6.12
cryptography==44.0.1
cstruct==6.0
ecdsa==0.19.0
esp_docs==2.0.1
intelhex==2.3.0
ipdb==0.13.13
pandas==2.2.3
Pillow==11.1.0
pkcs11==1.0.4
pyarrow==19.0.1
pyelftools==0.32
pyserial==3.5
pystick==0.1.6
pytest==8.3.4
PyYAML==6.0.2
PyYAML==6.0.2
reedsolo==1.7.0
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
setuptools==75.8.1
torchaudio==2.5.0+cu121
torchvision==0.21.0+cu124
tqdm==4.67.1
tsfel==0.1.9
